<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Form</title>

    <script>
        
        function generateCoordinates() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            document.getElementById("latitude").value = position.coords.latitude.toFixed(6);
            document.getElementById("longitude").value = position.coords.longitude.toFixed(6);
        }

        function setDefaultDateTime() {
            var currentDateTime = new Date().toISOString().slice(0, 16);
            document.getElementById("date_imported").value = currentDateTime;
        }
    </script>
</head>
<body onload="setDefaultDateTime()">

    <h1>Image Form</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <label for="image">Import Image:</label>
        <input type="file" name="image" accept="image/*" required><br>

        <label for="date_imported">Date Imported:</label>
        <input type="datetime-local" name="date_imported" id="date_imported" required><br>

        <label for="latitude">Latitude:</label>
        <input type="text" name="latitude" id="latitude" required><br>

        <label for="longitude">Longitude:</label>
        <input type="text" name="longitude" id="longitude" required><br>

        <label for="class_type">Class Type:</label>
        <input type="text" name="class_type" required><br>

        <label for="status">Status:</label>
        <input type="text" name="status" value="1"><br>

        <input type="button" value="Generate Coordinates" onclick="generateCoordinates()">
        <input type="submit" value="Submit">

    <h1>All Image Data After submission</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Date Imported</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Class Type</th>
            <th>Status</th>
        </tr>
        {% for data in all_image_data %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.image }}</td>
                <td>{{ data.date_imported }}</td>
                <td>{{ data.latitude }}</td>
                <td>{{ data.longitude }}</td>
                <td>{{ data.class_type }}</td>
                <td>{{ data.status }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
