<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ElmoThesis</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="stylesheet" href="{{url_for('static', filename='images/fevicon.png" type="image/png') }}" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-d/1ZhH3U9Lq8bu2UqD5ZJ2xUMDOmrulfblRr5ZzUmBhQIa9RgBqNHd4BMN5O3TEc" crossorigin="anonymous"> -->


      <!-- Uncomment to enable the map -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHFnnVZMQxKd8aEISu_hbsgpEDMU2uK2o"></script> -->
  
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <!-- <div class="logo_section">
                        <script src="{{ url_for('static', filename='js/analyser.js') }}"></script>
                        <a href="{{ url_for('index') }}"><img class="logo_icon img-responsive" src="{{ url_for('static', filename='images/logo/logo_icon.png') }}" alt="#" /></a>
                     </div> -->
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /></div>
                        <div class="user_info">
                           <h6>Elmo Ranolo</h6>
                           <p><span class="online_animation"></span> Student</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li><a href="{{ url_for('index') }}"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="{{ url_for('browse') }}"><i class="fa fa-camera purple_color2"></i> <span>Access Picture</span></a></li>
                     <!-- <li><a href="{{ url_for('camera') }}"><i class="fa fa-camera purple_color2"></i> <span>Access Camera</span></a></li> -->
                     <li><a href="{{ url_for('galleryResults') }}"><i class="fa fa-image purple_color2"></i> <span>Gallery</span></a></li>
                     <li><a href="{{ url_for('tables') }}"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
                     <li>
                     </li>
                     <li><a href="{{ url_for('charts') }}"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        
                        <!-- <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#" /></a>
                        </div> -->
                        <div class="right_topbar">
                           <div class="icon_info">
                              <!-- <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                              </ul> -->s
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row column1">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Browse Image</h2>
                                 </div>
                              </div>
                              <div class="map_section padding_infor_info">
                                 <label for="imageInput" style="cursor: pointer;">
                                     <img id="imageButton" src="{{ url_for('static', filename='images/layout_img/camera.png') }}" alt="#" width="70" height="58">
                                 </label>
                                 <input type="file" id="imageInput" style="display: none;" onchange="displayImage()" multiple>
                             </div>
                              <!-- <div class="map_section padding_infor_info">              
                                 <input type="file" id="imageInput" onchange="displayImage()" multiple>
                              </div> -->
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Other details you may check!</h2>
                                 </div>
                              </div>
                              <div class="map_section padding_infor_info">
                                 <ul>
                                    <li><a href="{{ url_for('galleryResults') }}"><i class="fa fa-image orange_color2"></i> <span>Image gallery</span></a></li>
                                    <li><a href="{{ url_for('tables') }}"><i class="fa fa-table purple_color2"></i> <span>Data Table</span></a></li>
                                    <li><a href="{{ url_for('index') }}"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                                 </ul>
                                 <!-- <div id="imageContainer"></div> -->
                                 <!-- <button onclick="submitImages()">Submit Images</button> -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row column2 graph margin_bottom_30">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Please select and submit Images</h2>
                                 </div>
                              </div>
                              <div class="map_section padding_infor_info">
                                 <div class="map m_style1">
                                    <div id="imageContainer"></div>
                                 </div>
                                 <button type="button" onclick="submitImages()" class="btn btn-info"><b>Detect & Submit</b></button>
                                 <!-- Found here!! -->
                                 <!-- <script src="{{ url_for('static', filename='js/browse-display.js') }}"></script> -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Success Modal -->
                     <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body">
                                    <p id="modalMessage"></p>
                              </div>
                              <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Error Modal -->
                     <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                              </div>
                              <div class="modal-body">
                                    <p id="errorModalMessage"></p>
                              </div>
                              <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>

                     <!-- end row -->
                  </div>
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2023 Elmo Ranolo. All rights reserved.<br><br>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <script>
         // Assuming you have a modal with ID "successModal" and "errorModal"
         function showModal(message) {
             $('#modalMessage').text(message);
             $('#successModal').modal('show');
         }
     
         function showErrorModal(message) {
             $('#errorModalMessage').text(message);
             $('#errorModal').modal('show');
         }
     
         $(document).ready(function() {
             $('form').submit(function(event) {
                 event.preventDefault();
     
                 var form = $(this);
                 var url = form.attr('action');
                 var formData = new FormData(form[0]);
     
                 $.ajax({
                     type: 'POST',
                     url: url,
                     data: formData,
                     cache: false,
                     contentType: false,
                     processData: false,
                     success: function(response) {
                         if (response.status === 'success') {
                             showModal(response.message);
                         } else {
                             showErrorModal(response.message);
                         }
                     },
                     error: function(xhr, status, error) {
                         showErrorModal('Error uploading images. Please try again.');
                     }
                 });
             });
         });
     </script>
     
      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- chart js -->
      <script src="js/Chart.min.js"></script>
      <script src="js/Chart.bundle.min.js"></script>
      <script src="js/utils.js"></script>
      <script src="js/analyser.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
      <!-- owl carousel -->
      <script src="js/owl.carousel.js"></script> 
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <!-- sidebar -->
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
      <!-- <script src="{{ url_for('static', filename='js/gallery.js') }}"></script> -->
      <script src="{{ url_for('static', filename='js/browse-display.js') }}"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   </body>
</html>  