<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ElmoThesis</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="stylesheet" href="{{url_for('static', filename='images/fevicon.png" type="image/png') }}" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-d/1ZhH3U9Lq8bu2UqD5ZJ2xUMDOmrulfblRr5ZzUmBhQIa9RgBqNHd4BMN5O3TEc" crossorigin="anonymous"> -->


      <!-- Uncomment to enable the map -->
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHFnnVZMQxKd8aEISu_hbsgpEDMU2uK2o"></script> -->
      <style>
         body {
             font-family: Arial, sans-serif;
             /* margin: 20px;
             padding: 20px; */
             display: flex;
             align-items: center;
             justify-content: center;
             height: 100vh;
         }
 
         #myModal {
             display: none;
             position: fixed;
             z-index: 1;
             left: 0;
             top: 0;
             width: 100%;
             height: 100%;
             overflow: auto;
             background-color: rgba(0, 0, 0, 0.5);

             /* display: flex; */
            align-items: center;
            justify-content: center;
            /* position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; */
            background-color: rgba(0, 0, 0, 0.5);
         }
 
         #modalContent {
             background-color: #fefefe;
             margin: 15% auto;
             padding: 20px;
             border: 1px solid #888;
             width: 60%;
             box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
             text-align: center;
         }
 
         #closeModal {
             color: #aaa;
             float: right;
             font-size: 28px;
             font-weight: bold;
             cursor: pointer;
         }
 
         #closeModal:hover,
         #closeModal:focus {
             color: black;
             text-decoration: none;
             cursor: pointer;
         }

               /* #myModal {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
         }

         #modalContent {
            background-color: white;
            padding: 20px;
            text-align: center;
         } */

         .responsive-container {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
         }

     </style>
   </head>
   <body class="dashboard dashboard_1" onload="generateCoordinates()">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <!-- <div class="logo_section">
                        <script src="{{ url_for('static', filename='js/analyser.js') }}"></script>
                        <a href="{{ url_for('index') }}"><img class="logo_icon img-responsive" src="{{ url_for('static', filename='images/logo/logo_icon.png') }}" alt="#" /></a>
                     </div> -->
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /></div>
                        <div class="user_info">
                           <h6>Elmo Ranolo</h6>
                           <p><span class="online_animation"></span> Student</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li><a href="{{ url_for('index') }}"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="{{ url_for('browse') }}"><i class="fa fa-camera purple_color2"></i> <span>Access Picture</span></a></li>
                     <!-- <li><a href="{{ url_for('camera') }}"><i class="fa fa-camera purple_color2"></i> <span>Access Camera</span></a></li> -->
                     <li><a href="{{ url_for('galleryResults') }}"><i class="fa fa-image purple_color2"></i> <span>Results</span></a></li>
                     <li><a href="{{ url_for('tables') }}"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
                     <li>
                     </li>
                     <li><a href="{{ url_for('charts') }}"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        
                        <!-- <div class="logo_section">
                           <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#" /></a>
                        </div> -->
                        <div class="right_topbar">
                           <div class="icon_info">
                              <!-- <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                              </ul> -->
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <!--1. Browse Image-->
                     <div class="row column1">
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Click the image below. <i>Supported files(jpeg, jpg, png and webp)</i></h2>
                                 </div>
                              </div>
                              <div class="map_section padding_infor_info">
                                 <label for="imageInput" style="cursor: pointer;">
                                     <img id="imageButton" src="{{ url_for('static', filename='images/layout_img/upload.gif') }}" alt="#" width="280" height="110">
                                 </label>
                                 <input type="file" id="imageInput" style="display: none;" onchange="displayImage()" multiple>
                             </div>
                              <!-- <div class="map_section padding_infor_info">              
                                 <input type="file" id="imageInput" onchange="displayImage()" multiple>
                              </div> -->
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Other details you may check!</h2>
                                 </div>
                              </div>
                              <div class="map_section padding_infor_info">
                                 <h1>
                                    <ul>
                                       <li><a href="{{ url_for('galleryResults') }}"><i class="fa fa-image orange_color2"></i> <span>Results</span></a></li>
                                       <li><a href="{{ url_for('tables') }}"><i class="fa fa-table purple_color2"></i> <span>Data Table</span></a></li>
                                       <li><a href="{{ url_for('index') }}"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                                       <li><a href="{{ url_for('charts') }}"><i class="fa fa-bar-chart-o green_color"></i> <span>Chart</span></a></li>
                                       <!-- <li>
                                          <label for="latitude">Latitude:</label>
                                          <input type="text" name="latitude" id="latitude" required><br>

                                          <label for="longitude">Longitude:</label>
                                          <input type="text" name="longitude" id="longitude" required><br>
                                       </li> -->
                                    </ul>
                                 </h1>
                                 <!-- <div id="imageContainer"></div> -->
                                 <!-- <button onclick="submitImages()">Submit Images</button> -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row column2 graph margin_bottom_30">
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Please select and submit Images</h2>
                                 </div>
                              </div>
                              <div class="map_section padding_infor_info">
                                 <div class="map m_style1">
                                    <div id="imageContainer"></div>
                                 </div>
                                 <button type="button" onclick="submitImages()" class="btn btn-info"><b>Detect & Submit</b></button>
                                 <!--1. Browse Image-->
                                 <!-- <script src="{{ url_for('static', filename='js/browse-display.js') }}"></script> -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Sample modal -->
                     <!-- <button onclick="openModal()">Open Modal</button> -->
                     <!-- Sample modal -->
                     <div id="myModal">
                        <div id="modalContent">
                           <h1>"Processing the image(s)...."</h1><br>
                           <div class="responsive-container">
                              <img id="imageButton" src="{{ url_for('static', filename='images/layout_img/loading-wait.gif') }}" alt="#" class="img-fluid">
                           </div>
                        </div>
                     </div>
                     <!-- end row -->
                  </div>
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2023 Elmo Ranolo. All rights reserved.<br><br>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <!-- <script src="js/jquery.min.js"></script> -->
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <!-- <script src="js/popper.min.js"></script> -->
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <!-- <script src="js/bootstrap.min.js"></script> -->
      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      <!-- <script src="js/animate.js"></script> -->
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      <!-- <script src="js/bootstrap-select.js"></script> -->
      <!-- owl carousel -->
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      <!-- <script src="js/owl.carousel.js"></script>  -->
      <!-- chart js -->
      <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
      <!-- <script src="js/Chart.min.js"></script> -->
      <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
      <!-- <script src="js/Chart.bundle.min.js"></script> -->
      <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
      <!-- <script src="js/utils.js"></script> -->
      <script src="{{ url_for('static', filename='js/analyser.js') }}"></script>
      <!-- <script src="js/analyser.js"></script> -->
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
      <!-- <script src="js/perfect-scrollbar.min.js"></script> -->
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <!-- <script src="{{ url_for('static', filename='js/gallery.js') }}"></script> -->
      <script src="{{ url_for('static', filename='js/browse-display.js') }}"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   </body>
</html>  