<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ElmoThesis</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <!-- Then include DataTables and its extensions -->
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/pdfmake.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/vfs_fonts.js"></script>

<!-- 
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/pdfmake.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/vfs_fonts.js"></script> -->

      <link rel="stylesheet" href="{{url_for('static', filename='images/fevicon.png" type="image/png') }}" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" />
      <!-- site css -->
      <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css') }}" />
      <!-- color css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/colors.css') }}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-select.css') }}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/perfect-scrollbar.css') }}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
      <!-- Uncomment to enable the map -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHFnnVZMQxKd8aEISu_hbsgpEDMU2uK2o"></script>

      <!-- #Add ons -->
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Data Table</title>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  
  
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <!-- <div class="logo_section">
                        <script src="{{ url_for('static', filename='js/analyser.js') }}"></script>
                        <a href="{{ url_for('index') }}"><img class="logo_icon img-responsive" src="{{ url_for('static', filename='images/logo/logo_icon.png') }}" alt="#" /></a>
                     </div> -->
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{{ url_for('static', filename='images/layout_img/user_img.jpg') }}" alt="#" /></div>
                        <div class="user_info">
                           <h6>Elmo Ranolo</h6>
                           <p><span class="online_animation"></span> Student</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li><a href="{{ url_for('index') }}"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="{{ url_for('browse') }}"><i class="fa fa-camera purple_color2"></i> <span>Access Picture</span></a></li>
                     <li><a href="{{ url_for('galleryResults') }}"><i class="fa fa-image purple_color2"></i> <span>Results</span></a></li>
                     <li><a href="{{ url_for('tables') }}"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
                     <li>
                     </li>
                     <li><a href="{{ url_for('charts') }}"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <!-- <a href="index.html"><img class="img-responsive" src="images/logo/logo.png" alt="#" /></a> -->
                        </div>
                        <div class="right_topbar">
                           <!-- <div class="icon_info">
                              <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul>
                              <ul class="user_profile_dd">
                              </ul>
                           </div> -->
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Data Dashboard</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row">
                        <!-- table section -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>All data will be found here!</h2>
                                 </div>
                              </div>
                              <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table id="dataTable" class="table table-hover">
                                       <thead>
                                          <tr class="table-secondary">
                                             <th>ID</th>
                                             <th>Image</th>
                                             <th>label</th>
                                             <th>Confidence</th>
                                             <th>Latitude</th>
                                             <th>Longitude</th>
                                             <!-- <th>x_size</th>
                                             <th>xmax</th>
                                             <th>xmin</th>
                                             <th>y_size</th>
                                             <th>ymax</th>
                                             <th>ymin</th> -->
                                          </tr>
                                       </thead>
                                       <tbody>
                                          {% for data in all_image_data %}
                                             <tr>
                                             <td>{{ data.id }}</td>
                                                <td><a href="{{ url_for('galleryResults')}}">{{ data.file_path }}</a></td>
                                                <!-- <td>{{ data.file_path }}</td> -->
                                                <td>{{ data.label }}</td>
                                                <td>{{ data.confidence }}</td>
                                                <td>{{ data.latitude }}</td>
                                                <td>{{ data.longitude }}</td>
                                                <!-- <td>{{ data.x_size }}</td>
                                                <td>{{ data.xmax }}</td>
                                                <td>{{ data.xmin }}</td>
                                                <td>{{ data.y_size }}</td>
                                                <td>{{ data.ymax }}</td>
                                                <td>{{ data.ymin }}</td> -->
                                             </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- footer -->
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.</p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
         <!-- model popup -->
         <!-- The Modal -->
         <div class="modal fade" id="myModal">
            <div class="modal-dialog">
               <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                     <h4 class="modal-title">Modal Heading</h4>
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                     Modal body..
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <!-- end model popup -->
      </div>
      <script>
         $(document).ready(function () {
            $('#dataTable').DataTable({
               dom: 'Bfrtip',
               buttons: [
                  'csv', 'pdf'
               ]
            });
         });
      </script>
            <!-- jQuery -->
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <!-- <script src="js/jquery.min.js"></script> -->
            <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
            <!-- <script src="js/popper.min.js"></script> -->
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <!-- <script src="js/bootstrap.min.js"></script> -->
            <!-- wow animation -->
            <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
            <!-- <script src="js/animate.js"></script> -->
            <!-- select country -->
            <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
            <!-- <script src="js/bootstrap-select.js"></script> -->
            <!-- owl carousel -->
            <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
            <!-- <script src="js/owl.carousel.js"></script>  -->
            <!-- chart js -->
            <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
            <!-- <script src="js/Chart.min.js"></script> -->
            <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
            <!-- <script src="js/Chart.bundle.min.js"></script> -->
            <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
            <!-- <script src="js/utils.js"></script> -->
            <script src="{{ url_for('static', filename='js/analyser.js') }}"></script>
            <!-- <script src="js/analyser.js"></script> -->
            <!-- nice scrollbar -->
            <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
            <!-- <script src="js/perfect-scrollbar.min.js"></script> -->
            <script>
               var ps = new PerfectScrollbar('#sidebar');
            </script>
            <!-- custom js -->
            <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
            <!-- <script src="js/custom.js"></script>
            <script src="js/chart_custom_style1.js"></script> -->
            <script src="{{ url_for('static', filename='js/chart_custom_style1.js') }}"></script>
   </body>
</html>